// Primary Brand Color (Main Blue - also acts as an accent)
$brand-primary: #246EE9;

// Neutral Colors
$neutral-dark:  #737373; // Used for framing, borders, darker text
$neutral-light: #F3F4F6; // Used for backgrounds, subtle dividers
$neutral-white: #FFFFFF; // Pure white background or text


$font-family: 'Montserrat', sans-serif;

$border-radius: 6px;